package analytics_views

import "github.com/BryanVanWinnendael/Harbor/dto"

templ AnalyticsHome() {
	<section class="w-full flex flex-col gap-2 h-full overflow-hidden">
		<div class="h-full w-full md:!grid flex flex-col gap-2 grid-cols-3 grid-rows-3 overflow-hidden">
			<!-- Disk / Docker storage -->
			<div
				hx-get="/analytics/usage"
				hx-trigger="load, every 15s"
				hx-swap="innerHTML"
				class="border border-neutral-800/50 rounded-lg h-full w-full bg-[#0b0b0b] col-start-1 row-start-1"
			>
				@AnalyticsUsage(dto.UsageDTO{}, true)
			</div>
			<!-- CPU -->
			<div
				hx-get="/analytics/cpu"
				hx-trigger="load, every 15s"
				hx-swap="innerHTML"
				class="border border-neutral-800/50 rounded-lg h-full w-full bg-[#0b0b0b] col-start-2 col-span-2 row-start-1"
			>
				@AnalyticsCpuUsage(dto.ContainersCpuUsageDTO{}, true)
			</div>
			<!-- Memory -->
			<div
				hx-get="/analytics/memory"
				hx-trigger="load, every 15s"
				hx-swap="innerHTML"
				class="border border-neutral-800/50 rounded-lg h-full w-full bg-[#0b0b0b] col-start-1 col-span-2 row-start-2"
			>
				@AnalyticsMemoryUsage(dto.ContainersMemoryUsageDTO{}, true)
			</div>
			<!-- Network -->
			<div
				hx-get="/analytics/network"
				hx-trigger="load, every 15s"
				hx-swap="innerHTML"
				class="border border-neutral-800/50 rounded-lg h-full w-full bg-[#0b0b0b] col-start-3 row-start-2"
			>
				@AnalyticsNetworkUsage(dto.ContainersNetworkUsageDTO{}, true)
			</div>
			<!-- Disk I/O -->
			<div
				hx-get="/analytics/disk"
				hx-trigger="load, every 15s"
				hx-swap="innerHTML"
				class="border border-neutral-800/50 rounded-lg h-full w-full bg-[#0b0b0b] col-start-1 col-span-3 row-start-3"
			>
				@AnalyticsDiskUsage(dto.ContainersDiskUsageDTO{}, true)
			</div>
		</div>
	</section>
}
