package image_views

import "github.com/docker/docker/api/types/image"

templ ImageHome(images []image.Summary) {
	<section class="w-full flex flex-col gap-2 h-full overflow-hidden">
		<div class="w-full p-2 flex gap-4 overflow-x-scroll">
			@ImagePull()
		</div>
		<div class="overflow-scroll border border-neutral-800/50 rounded-lg h-full bg-[#0b0b0b]">
			<div hx-get="/images/fetch" hx-trigger="load" hx-swap="innerHTML" class="flex h-full w-full">
				@ImageTable(images)
			</div>
		</div>
	</section>
}
