package container_views

import "github.com/docker/docker/api/types"

templ ContainerHome(containers []types.Container) {
	<section class="w-full flex flex-col gap-2 h-full overflow-hidden">
		<div class="flex w-full p-2 flex gap-4 overflow-x-scroll">
			@ContainerMysql()
		</div>
		<div class="overflow-scroll border border-neutral-800/50 rounded-lg h-full bg-[#0b0b0b]">
			<div hx-get="/containers" hx-trigger="load, every 5s" hx-swap="innerHTML" class="flex h-full w-full">
				@ContainerTable(containers)
			</div>
		</div>
	</section>
}
