package docker_views

import (
	"github.com/BryanVanWinnendael/Harbor/views/layout"
)

templ DockerIndex(
	title string,
	isError bool,
	errMsgs, sucMsgs []string,
	cmp templ.Component,
) {
	@layout.Base(title, isError, errMsgs, sucMsgs) {
		@cmp
	}
}
